body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  background: linear-gradient(
    120deg,
    rgb(240, 225, 253) 0%,
    rgb(195, 226, 255) 100%
  );
}

h1 {
  text-align: center;
  text-shadow: 2px 1px 4px white;
}

h2 {
  font-size: 34px;
  padding-top: 25px;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 400px;
  padding: 0px 5px;
}

.today-rates {
  text-align: center;
}

.icon-title {
  font-size: 15px;
}

.today {
  text-align: center;
}

.today-weather {
  border: 3px solid;
  border-color: #c4d0f1;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

#feel-today,
#humidity-today,
#wind-today {
  text-align: center;
}

#week-weather {
  border: 3px solid;
  border-color: #c4d0f1;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.titleDay {
  margin: 0 auto;

  padding-top: 5px;
}

.tempDay {
  margin: 0 auto;

  padding-top: 5px;
}

#buttonSun,
#buttonMon,
#buttonTues,
#buttonWed,
#buttonThurs,
#buttonFri,
#buttonSat {
  padding: 0px 13px;
}

.iconDay {
  width: 70px;
}

#firstColumnSun,
#firstColumnMon,
#firstColumnTues,
#firstColumnWed,
#firstColumnThurs,
#firstColumnFri,
#firstColumnSat,
#secondColumnSun,
#secondColumnMon,
#secondColumnTues,
#secondColumnWed,
#secondColumnThurs,
#secondColumnFri,
#secondColumnSat,
#thirdColumnSun,
#thirdColumnMon,
#thirdColumnTues,
#thirdColumnWed,
#thirdColumnThurs,
#thirdColumnFri,
#thirdColumnSat {
  text-align: center;
}

.footer {
  text-align: center;
}

.accordion-body {
  padding: 16px 0px;
  background-color: #ffffff;
}

.accordion-button {
  background-color: white;
}
